<% provide(:title, "About") %>
<h1>About</h1>
<p>
  TeamSheet is a match fixture application created by Conor Walsh as part of one of his college modules.
</p>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue, ipsum a venenatis maximus, felis velit pharetra nulla, id sagittis erat ligula eu nunc. Cras fermentum, mi vitae congue imperdiet, augue lacus tincidunt turpis, eu convallis leo leo a tellus. Vestibulum sem leo, aliquam in ultrices sed, vestibulum vel nisi. Phasellus et diam at ante aliquet tincidunt ut porta tortor. Nunc posuere risus purus, pretium accumsan nisi finibus sed. Integer non enim nibh. Aenean nec lacinia tellus, in suscipit dui. Vestibulum et libero efficitur, consectetur orci ac, convallis justo. Duis eu sapien in eros elementum tincidunt a a mi. Etiam in libero auctor, ultricies dolor nec, congue libero. Aenean mi purus, ornare et risus non, tincidunt euismod nunc. Nunc porttitor condimentum viverra. Nullam non sollicitudin ligula. Praesent ac sem sit amet purus auctor mollis.
</p>
<p>
Quisque ullamcorper dignissim tristique. Sed tristique viverra massa ac rutrum. Aenean vel erat justo. Vestibulum sed dignissim sem. Fusce commodo imperdiet ornare. Nunc magna turpis, ultricies eu dictum nec, efficitur vel sapien. Pellentesque ac orci nulla.
</p>
<p>
Vestibulum ultrices libero mattis mattis tincidunt. Aenean vitae turpis odio. Ut ac interdum nisi. Mauris faucibus orci in quam consequat mollis. Donec a hendrerit lacus, non luctus metus. Mauris id tempor purus. Nam ornare pretium nisi non sodales.
</p>
