<footer class="footer">
  <small>
    Conor Walsh 20057989 | Web Server Programming
  </small>
  <nav>
    <ul>
	  <li><%= link_to "Common Questions", faq_path %></li>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>